flows.json
[{"id":"87f89e49.eaef8","type":"tab","label":"local-apis","disabled":false,"info":""},{"id":"24a660c0.fa379","type":"mqtt-broker","name":"swiftsense-broker-cfg","broker":"${mqttServerHostName}","port":"9883","tls":"88b60bd9.bf90b8","clientid":"${nodeName}","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"MQTT/BIRTH","birthQos":"0","birthPayload":"{\"event\": \"birth\"}","closeTopic":"MQTT/DISCONNECT","closeQos":"0","closePayload":"{\"event\": \"disconnect\"}","willTopic":"MQTT/CRASH","willQos":"0","willPayload":"{\"event\": \"crash\"}"},{"id":"88b60bd9.bf90b8","type":"tls-config","name":"swiftsense-server","cert":"/certs/node.crt","key":"/certs/node.key","ca":"/certs/letsencrypt-ca.cert","certname":"NODE-PUBLIC-KEY","keyname":"NODE-PRIVATE-KEY","caname":"SWIFTSENSE-CA-CERT","servername":"","verifyservercert":false},{"id":"2af27d0e.998df2","type":"tls-config","name":"swiftsense-server","cert":"/certs/node.crt","key":"/certs/node.key","ca":"/certs/letsencrypt-ca.cert","certname":"NODE-PUBLIC-KEY","keyname":"NODE-PRIVATE-KEY","caname":"SWIFTSENSE-CA-CERT","servername":"","verifyservercert":false},{"id":"16d5f938.151777","type":"websocket-client","path":"ws://init-process/statuses","tls":"","wholemsg":"false"},{"id":"17d4ed4e.4f1c93","type":"tls-config","name":"swiftsense-server","cert":"/certs/node.crt","key":"/certs/node.key","ca":"/certs/letsencrypt-ca.cert","certname":"NODE-PUBLIC-KEY","keyname":"NODE-PRIVATE-KEY","caname":"SWIFTSENSE-CA-CERT","servername":"","verifyservercert":false},{"id":"575d298e.907698","type":"serial-port","serialport":"/dev/ttyS0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"","bin":"bin","out":"time","addchar":"","responsetimeout":"10000"},{"id":"84dd148d.c55d38","type":"serial-port","serialport":"/dev/ttyS0","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"","bin":"bin","out":"interbyte","addchar":"","responsetimeout":"10000"},{"id":"81662592.a1cf3","type":"websocket-listener","path":"/v1/init-process/statuses","wholemsg":"false"},{"id":"ec96c150.9f041","type":"http in","z":"87f89e49.eaef8","name":"","url":"/v1/init-params","method":"post","upload":true,"swaggerDoc":"","x":310,"y":220,"wires":[["d71e6490.300548","90c04c00.7a79b"]]},{"id":"590a2b44.22b4d4","type":"file","z":"87f89e49.eaef8","name":"","filename":"/cfg/init.params","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":760,"y":220,"wires":[["68ccecfc.251ea4"]]},{"id":"68ccecfc.251ea4","type":"http response","z":"87f89e49.eaef8","name":"","statusCode":"","headers":{},"x":940,"y":220,"wires":[]},{"id":"d71e6490.300548","type":"debug","z":"87f89e49.eaef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":300,"wires":[]},{"id":"90c04c00.7a79b","type":"change","z":"87f89e49.eaef8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":220,"wires":[["590a2b44.22b4d4"]]},{"id":"eb315dd8.e6a55","type":"http in","z":"87f89e49.eaef8","name":"","url":"/v1/init-process/status","method":"post","upload":true,"swaggerDoc":"","x":330,"y":440,"wires":[["894a6a6d.4c9a58","24740359.737c8c","d3a5fe8b.182dd"]],"info":"A status message is of the following form:\n\n{\n    totalSteps: 11,\n    lastExecutedStepDetails: {\n        index: 4,\n        name: \"Device Keys Setup\",\n        error: \"\"\n        description: \"Certificate downloaded...\"\n    }\n}"},{"id":"894a6a6d.4c9a58","type":"debug","z":"87f89e49.eaef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":520,"wires":[]},{"id":"24740359.737c8c","type":"websocket out","z":"87f89e49.eaef8","name":"","server":"81662592.a1cf3","client":"","x":690,"y":440,"wires":[]},{"id":"d3a5fe8b.182dd","type":"http response","z":"87f89e49.eaef8","name":"","statusCode":"","headers":{},"x":540,"y":400,"wires":[]}]