flow.json
[{"id":"87f89e49.eaef8","type":"tab","label":"local-apis","disabled":false,"info":""},{"id":"ec96c150.9f041","type":"http in","z":"87f89e49.eaef8","name":"","url":"/v1/init-params","method":"post","upload":true,"swaggerDoc":"","x":310,"y":220,"wires":[["d71e6490.300548","90c04c00.7a79b"]]},{"id":"590a2b44.22b4d4","type":"file","z":"87f89e49.eaef8","name":"","filename":"/cfg/init.params","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":760,"y":220,"wires":[["68ccecfc.251ea4"]]},{"id":"68ccecfc.251ea4","type":"http response","z":"87f89e49.eaef8","name":"","statusCode":"","headers":{},"x":940,"y":220,"wires":[]},{"id":"d71e6490.300548","type":"debug","z":"87f89e49.eaef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":300,"wires":[]},{"id":"90c04c00.7a79b","type":"change","z":"87f89e49.eaef8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":220,"wires":[["590a2b44.22b4d4"]]},{"id":"eb315dd8.e6a55","type":"http in","z":"87f89e49.eaef8","name":"","url":"/v1/init-process/status","method":"post","upload":true,"swaggerDoc":"","x":330,"y":440,"wires":[["894a6a6d.4c9a58","d3a5fe8b.182dd"]],"info":"A status message is of the following form:\n\n{\n    totalSteps: 11,\n    lastExecutedStepDetails: {\n        index: 4,\n        name: \"Device Keys Setup\",\n        error: \"\"\n        description: \"Certificate downloaded...\"\n    }\n}"},{"id":"894a6a6d.4c9a58","type":"debug","z":"87f89e49.eaef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":520,"wires":[]},{"id":"d3a5fe8b.182dd","type":"http response","z":"87f89e49.eaef8","name":"","statusCode":"","headers":{},"x":540,"y":400,"wires":[]},{"id":"e97d5f9b.59be","type":"http in","z":"87f89e49.eaef8","name":"","url":"/v1/init-wifi","method":"post","upload":true,"swaggerDoc":"","x":290,"y":60,"wires":[["b648d68c.357a68","cbad8015.6047"]]},{"id":"54a2300.baf83d","type":"file","z":"87f89e49.eaef8","name":"","filename":"/cfg/init.params","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":760,"y":60,"wires":[["f6f76c35.89d72"]]},{"id":"f6f76c35.89d72","type":"http response","z":"87f89e49.eaef8","name":"","statusCode":"","headers":{},"x":940,"y":60,"wires":[]},{"id":"b648d68c.357a68","type":"debug","z":"87f89e49.eaef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":140,"wires":[]},{"id":"cbad8015.6047","type":"function","z":"87f89e49.eaef8","name":"","func":"//msg.payload = \"param0=android\\nparam1=12345678\";\nlet wifiUsername = msg.payload.username;\nlet wifiPassword = msg.payload.password;\n\nmsg.payload = \n    \"param0=\" + wifiUsername + \"\\n\" + \n    \"param1=\" + wifiPassword + \"\\n\";\n    \n// node.warn({CREDS: msg});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":60,"wires":[["54a2300.baf83d"]]},{"id":"371abd8e.961572","type":"inject","z":"87f89e49.eaef8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":120,"wires":[["cbad8015.6047"]]}]
